* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hr {
    height: .8rem;
    background-color: rgb(29, 28, 28);
    border: none;
}

/* ================================ */

#home {
    overflow: hidden;
    height: 100vh;
    background: url(https://assets.nflxext.com/ffe/siteui/vlv3/77d35039-751f-4c3e-9c8d-1240c1ca6188/cf244808-d722-428f-80a9-052acdf158ec/IN-en-20231106-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: color-burn;
}

#home {
    background-color: rgba(0, 0, 0, 0.679);
}

/* ================NAVBAR CSS===================== */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
    padding-left: 11rem;
}

.nav-logo {
    max-width: 13rem;
    height: auto;
}

.nav {
    display: flex;
    gap: 10px;
}

.nav .right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
}

.nav .right .btn {
    text-decoration: none;
}

.nav .right button {
    transition: 0.5s ease;
    font-size: 1rem;
    padding: .8rem .9rem;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.nav .right .btn-1 {
    background: none;
}

.nav .right .btn-1:hover {
    color: red;
}

.nav .right .btn-2 {
    background-color: red;
}

.nav .right .btn-2:hover {
    background-color: rgb(199, 14, 14);
}

/* ====================HOME CSS====================== */

.home-content {
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-content-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
    width: 80rem;
    text-align: center;
    font-size: 3.5rem;
    color: white;
}

.home-content-txt {
    color: white;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}

/*  ===================FOR FUTURE EDIT TEXT============  */


/* .home-content-txt-2 {
    color: white;
    font-size: 1.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
} */


.home-content-text,
.home-content-txt,
.home-content-txt-2 {
    margin-bottom: 1rem;
}

/* ===============1st series section css================== */

#series {
    overflow: hidden;
    background-color: black;
}

.series-content {
    padding: 0rem 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.media {
    padding-left: 1rem;
    position: relative;
}

.series-img {
    position: relative;
    z-index: 5;
    width: 35rem;
}

.video {
    width: 26.5rem;
    position: absolute;
    top: 5.4rem;
    left: 4.6rem;
}

.series-content-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.series-content-left h1 {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.series-content-left p {
    width: 42rem;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* ===============Download section css================== */

#download {
    overflow: hidden;
    background-color: black;
}

.download-content {
    padding: 0rem 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.download-items {
    position: relative;
}

.download-img {
    width: 39rem;
    height: auto;
}

.netflix-banner {
    width: 20rem;
    border: 2px solid #3e3e3e;
    border-radius: .7rem;
    position: absolute;
    top: 19.5rem;
    left: 9.5rem;
}

.download-content-left {
    width: 50rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.download-content-left h1 {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.download-content-left p {
    width: 45rem;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* ===============Watch series section css================== */

#watch {
    overflow: hidden;
    background-color: black;
}

.watch-content {
    padding: 0rem 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.watch-items {
    position: relative;
}

.watch-img {
    width: 35rem;
    padding-top: 5rem;
    height: auto;
    position: relative;
    z-index: 5;
}

.video-2 {
    width: 22rem;
    position: absolute;
    top: 8rem;
    left: 6rem;
}

.watch-content-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.watch-content-left h1 {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.watch-content-left p {
    width: 45rem;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ===============Kids section css================== */
#kids {
    overflow: hidden;
    background-color: black;
}

.kids-content {
    padding: 0rem 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.kids-img {
    max-width: 45rem;
    padding-top: 5rem;
    height: auto;
}

.kids-content-left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.kids-content-left h1 {
    font-size: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.kids-content-left p {
    width: 45rem;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* =====================Frequently Asked Ques Css================ */

#frequent {
    background-color: black;
    color: white;
    height: 100%;
}

.frequent-content {
    text-align: center;
    padding: 20px;
}

.frequent-content h1 {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.frequent-ques {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.frequent-ques li {
    list-style: none;
    width: 75rem;
}

.frequent-ques h3 button {
    font-size: 2.1rem;
    width: 100%;
    height: 4.5rem;
    text-align: start;
    background-color: #3e3e3e;
    color: #fff;
    border: none;
    padding: 1.2rem;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: .2rem;
}

.frequent-ques h3 button:hover {
    background-color: #595858;
}

.frequent-content a .anchor-btn {
    transition: 0.5s ease;
    position: relative;
    margin-top: 5rem;
    background-color: red;
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 1rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.frequent-content a .anchor-btn:hover {
    background-color: rgb(163, 8, 8);
}

.dropdown-btn {
    width: 100%;
    background-color: #3e3e3e;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: start;
    /* Align text to the start */
    transition: 0.5s ease;
}

.dropdown-content {
    display: none;
    margin-top: .1rem;
    background-color: #3e3e3e;
    border-radius: .2rem;
}

.dropdown-content p {
    padding: 1.2rem;
    text-align: justify;
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ======================MEDIA QUERY CSS========================= */

@media (max-width:650px) {
    .navbar {
        padding: 1rem 1rem;
    }

    .nav-logo {
        width: 8rem;
    }

    .nav .right button {
        width: 4rem;
        font-size: .6rem;
    }

    /* ===========================HOME================================== */

    .home-content h1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 1.7rem;
        width: 22rem;
    }

    .home-content p {
        padding-top: 1.5rem;
        font-size: .8rem;
        width: 35rem;
        display: flex;
        justify-content: center;
    }

    /* ===========================SERIES=============================== */

    .series-content {
        padding: 0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .series-content-left {
        padding-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .series-content-left h1 {
        font-size: 2.2rem;
        width: 20rem;
    }

    .series-content-left p {
        text-align: center;
        padding-top: .5rem;
        font-size: 1.2rem;
        width: 20rem;
    }

    .media {
        padding: 0rem;
        padding-top: 2rem;
        margin-bottom: 2rem;
    }

    .series-img {
        width: 23rem;
        padding: 0rem;
    }

    .video {
        width: 18rem;
        top: 5.7rem;
        left: 3.1rem;
    }

    /* ======================DOWNLOAD====================== */

    .download-content {
        flex-wrap: wrap;

        padding: 0rem;
    }

    .download-img {
        width: 25rem;
    }

    .netflix-banner {
        width: 15rem;
        top: 13rem;
        left: 5rem;
    }

    .download-content-left {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0rem 1.2rem;
        padding-top: 2rem;
        width: 25rem;
        margin-bottom: 3rem;
    }

    .download-content-left h1 {
        font-size: 2rem;
    }

    .download-content-left p {
        font-size: 1.2rem;
        padding-top: .5rem;
        text-align: center;
        width: 22rem;
    }

    /* ======================WATCH============================== */

    .watch-content {
        flex-wrap: wrap;

        padding: 0rem;
    }

    .watch-content-left {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 25rem;
        padding-top: 2rem;
    }

    .watch-content-left h1 {
        font-size: 2.2rem;
    }

    .watch-content-left p {
        width: 20rem;
        padding-top: .5rem;
        font-size: 1.2rem;
    }

    .watch-items {
        margin-bottom: 2rem;
    }

    .watch-img {
        padding-top: 2rem;
        width: 25rem;
    }

    .video-2 {
        top: 4.5rem;
        left: 4rem;
        width: 16rem;
    }

    /* ==============================KIDS=================================== */

    .kids-content {
        flex-wrap: wrap;

        padding: 0rem;
    }

    .kids-img {
        padding: 0rem;
        width: 30rem;
    }

    .kids-content-left {
        width: 25rem;
        padding: 2rem;
        padding-top: 0rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    .kids-content-left h1 {
        font-size: 2rem;
    }

    .kids-content-left p {
        width: 22rem;
        font-size: 1.2rem;
        padding-top: .5rem;
    }

    /* ============================QUESTIONS================================== */

    .frequent-content .frequent-ques button {
        width: 20rem;
        font-size: 1.2rem;
    }
    .dropdown-content{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 20rem;
        margin-left: 27.5rem;
    }
    .dropdown-content p{
        font-size:1.2rem;
    }
}